[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

firebase-admin = "*"
django = "*"
django-environ = "*"


[dev-packages]

pylint = "*"
pylint-django = "*"


[requires]

python_version = "3.7"
